<div class="col-2">
  <a href="<%= repo.owner_url %>"><%= repo.owner_name %></a>
</div>
<div class="col-2 repo-name">
  <a href="<%= repo.repo_url %>"><%= repo.repo_name %></a>
</div>
<div class="col-8">
  <p><%= repo.description %></p>
</div>